.homeServicesStyle{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-content:space-evenly;
    align-items: center;
    padding:2% 8% 12%;
    margin-right: 10px;
    gap:4%;
}