.footer{
 
    background-image: linear-gradient(90deg,firebrick,black);
    background-repeat: no-repeat;
    margin-bottom: 0;
    padding: 3%;
    

}
.footerNav{
    background-image: linear-gradient(90deg,firebrick,black);
    background-repeat: no-repeat;
    margin-bottom: 0;
    
}
